name: CI/CD pipeline

on:
  push:

jobs:
  tests:
    name: "Tests"
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
  
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.x'

    - uses: actions/cache@v4
      with:
        path: |
          ~/.nuget/packages
          ~/.dotnet/packs
          ~/.dotnet/workloadmanifests
          ~/.dotnet/sdk-manifests
        key: ${{ runner.os }}-dotnet-${{ hashFiles('**/*.csproj') }}
        restore-keys: |
          ${{ runner.os }}-dotnet-

    - name: Restore solution
      run: |
          dotnet workload restore
          dotnet restore

    - name: Run tests
      run: dotnet test --no-restore --verbosity normal --logger "trx;LogFileName=tests-results.trx"

    - name: Publish test reports
      uses: dorny/test-reporter@v2
      if: ${{ !cancelled() }}
      with:
         name: Tests
         path: '**/tests-results.trx'
         reporter: dotnet-trx

  build:
    name: Build
    runs-on: macos-latest
    needs: tests

    steps:
    - name: Build signed AAB
      run: |
        dotnet publish ScheduleMADI/ScheduleMADI.csproj \
          -c Release -f net9.0-android35.0 \
          -o:releaseOut/ \
          -p:AndroidKeyStore=true \
          -p:AndroidPackageFormat=aab \
          -p:AndroidSigningKeyStore=keystore.jks \
          -p:AndroidSigningStorePass=${{ secrets.ANDROID_KEYSTORE_PASSWORD }} \
          -p:AndroidSigningKeyAlias=${{ secrets.ANDROID_KEYSTORE_ALIAS }} \
          -p:AndroidSigningKeyPass=${{ secrets.ANDROID_KEY_PASSWORD }} 

    - name: Upload AAB artifact
      uses: actions/upload-artifact@v4
      with:
        name: aab
        path: ./releaseOut/com.wildchair.schedulemadi-Signed.aab

    - name: Upload APK artifact
      uses: actions/upload-artifact@v4
      with:
        name: apk
        path: ./releaseOut/com.wildchair.schedulemadi-Signed.apk