name: CI/CD pipeline

on:
  push:

jobs:
  tests:
    name: "Tests"
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
  
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.x'

    - uses: actions/cache@v4
      with:
        path: |
          ~/.nuget/packages
          ~/.dotnet/packs
          ~/.dotnet/workloadmanifests
          ~/.dotnet/sdk-manifests
        key: ${{ runner.os }}-dotnet-${{ hashFiles('**/*.csproj') }}
        restore-keys: |
          ${{ runner.os }}-dotnet-

    - name: Restore solution
      run: |
          dotnet workload restore
          dotnet restore

    - name: Run tests
      run: dotnet test --no-restore --verbosity normal