name: Build Signed AAB for ScheduleMADI

on:
  push:
    branches:
      - main
    paths:
      - 'ScheduleMADI/ScheduleMADI/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Cache NuGet and .NET workloads
      uses: actions/cache@v4
      with:
        path: |
          ~/.nuget/packages
          ~/.dotnet/packs
          ~/.dotnet/workloadmanifests
          ~/.dotnet/sdk-manifests
        key: ${{ runner.os }}-dotnet-${{ hashFiles('**/*.csproj') }}
        restore-keys: |
          ${{ runner.os }}-dotnet-

    - name: Set up .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.x'

    # - name: Limit to Android target only
    #   run: sed -i 's/<TargetFrameworks>.*<\/TargetFrameworks>/<TargetFramework>net8.0-android<\/TargetFramework>/' ScheduleMADI/ScheduleMADI.csproj

    - name: Restore MAUI Android workload
      run: dotnet workload restore

    - name: Restore NuGet packages
      run: dotnet restore ScheduleMADI/ScheduleMADI.csproj

    - name: Decode keystore
      run: |
        echo "${{ secrets.ANDROID_KEYSTORE }}" | base64 -d > keystore.jks

    - name: Build signed AAB
      run: |
        dotnet publish ScheduleMADI/ScheduleMADI.csproj \
          -c Release -f net9.0-android35.0 \
          -o releaseOut/ \
          -p:AndroidKeyStore=true \
          -p:AndroidPackageFormat=aab \
          -p:AndroidSigningKeyStore=../keystore.jks \
          -p:AndroidSigningStorePass=${{ secrets.ANDROID_KEYSTORE_PASSWORD }} \
          -p:AndroidSigningKeyAlias=${{ secrets.ANDROID_KEYSTORE_ALIAS }} \
          -p:AndroidSigningKeyPass=${{ secrets.ANDROID_KEY_PASSWORD }} 

    - name: Upload AAB artifact
      uses: actions/upload-artifact@v4
      with:
        name: aab
        path: ScheduleMADI/releaseOut/com.wildchair.schedulemadi-Signed.aab

    - name: Upload APK artifact
      uses: actions/upload-artifact@v4
      with:
        name: apk
        path: ScheduleMADI/releaseOut/com.wildchair.schedulemadi-Signed.apk
